<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TestApiUri" value="http://dalscoredemoapi.azurewebsites.net/" />
    <add key="DbConnectionString" value="server=happy.net; initial catalog=a;uid=a; pwd=pwd; Connect Timeout=90" />
  </appSettings>
  <runtime>
  </runtime>
</configuration>